@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
    font-family: 'Abel', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    user-select: none;
    letter-spacing: 0.10px;
    
}

 /* NAVBAR AND HEADER STYLES */
.header {
    display: flex;
    background-color: black;
    color: #fff;
    text-align: center;
    justify-content: space-evenly;
}
nav{
    display: flex;
    background-color: black;
    color: #fff;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0px 2px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: start;
    justify-content: center;
    padding-left: 2em;
    user-select: none;
    pointer-events: none;
    animation: rotar 5s linear infinite;
}

.logo:hover{
   cursor: pointer;
}

@keyframes rotar {
    0% {
        transform: rotatey(0deg);
    }
    100% {
        transform: rotatey(360deg);
    }
}

.nav-ham{
    display: none;
}

.header input{
    display: none;
}

.header i{
    display: none;
}

  /* END NAV AND HEADER STYLES */

/* H1, H2 , H3 , P , A STYLES */
h1, h2 {
    color: rgb(194, 194, 194);
    text-decoration: underline;
    font-size: 100px;
}
h3{
    color: rgb(194, 194, 194);
    text-decoration: underline;
    font-size: 30px;
}
p{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
 /* END H1, H2 , H3 , P , A STYLES  */

/* SECTION AND MAIN STYLES  */

.main{
    background-color: rgb(67, 67, 67);
    display: flex;  
    flex-direction: column;
}
section {
    padding: 2em;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    justify-content: center;
    margin-bottom: 10px;
    
}

.sobre-mi{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
    height: 95vh;
    justify-content: center;
}

.tecnologias{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
    height: 95vh;
}

.lista-tecnologias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.lista-tecnologias li
{
    display: inline;
    margin-right: 20px;
}

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SECTION AND MAIN STYLES END */

 /* FOOTER STYLES */

.footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.redes li
{
    display: inline;
    margin-right: 20px;
}

.redes li:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0px 2px;
}

 /* END FOOTER STYLES */


 /* BOTONS STYLES */
.btn-custom{
    background: gray;
    font-family: 'Abel', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    height: 49px;
  }
  
.btn-custom:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
.btn-custom:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

.btn-inicio{
    display: flex;
    margin: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-InicioStyle{
    background: gray;
    font-family: 'Abel', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 0.1em 0.1em;
    width: 30px;
    height: 30px;
    text-align: center;
}

.btn-InicioStyle:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
.btn-InicioStyle:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }


/* END BOTONS STYLES */


/* SWIPER STYLES */

.swiper {
    width: 60%;
    height: 60%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* END SWIPER STYLES */

  /* MEDIA QUERYS EVENTS FOR WIDTH*/


@media screen and (max-width: 1024px) {
    
    .inicio{ 
        height: 80vh;
    }

    .sobre-mi{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 562px) {

    h1, h2 {
        font-size: 80px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 40px;
    }
    a{
        font-size: 15px;
    }
   nav{
         display: none;
   }
   .logo img{
      display: none;
   }
   .sobre-mi{
     height: 151vh;
   }

   .header input[type="checkbox"], .header .fa-bars{
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 50px;
    height: 48px;
  }

  .header .fa-bars{
    font-size: 48px;
    pointer-events: none;
    color: black;
  }
  
  .header input[type="checkbox"] {
    opacity: 0;
  }

  .header input:checked ~ nav {
    display: block;
  }
  .header input:checked ~ .fa-bars{
    color: white;
  }
  .nav-ham{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    height: 30vh;
  }
  .nav-ham ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nav-ham li{
        margin-bottom: 15px;
        margin-right: 100px;
        margin-top: 5px;
   }
   .swiper{
       width: 100%;
       height: 100%;
   }

}
@media screen and (max-width: 500px) {
    h1, h2 {
        font-size: 70px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 40px;
    }
    a{
        font-size: 15px;
    }
    .sobre-mi{
        height: 160vh;
    }
    .nav-ham{
        height: 40vh;
    }
   .lista-tecnologias{
       grid-template-columns: repeat(2, 1fr);
   }
   .swiper{
       width: 100%;
       height: 100%;
   }
}

@media screen and (max-width: 320px) {
    h1, h2 {
        font-size: 50px;
    }
    h3{
        font-size: 10px;
    }
    p{
        font-size: 30px;
    }
    a{
        font-size: 10px;
    }
    .sobre-mi{
        height: 170vh;
    }
    .nav-ham{
        height: 50vh;
    }
    .lista-tecnologias{
        grid-template-columns: repeat(1, 1fr);
    }
    .swiper{
        width: 100%;
        height: 100%;
    }
}

/* END MEDIA QUERYS EVENTS FOR WIDTH */


/* MEDIA QUERYS EVENTS FOR HEIGHT */

@media screen and (max-height: 800px){
   body{
      zoom: 80%;
   }
}

@media screen and (max-height: 700px){
   .tecnologias{
         height: 150vh;
   }
 }

 /* MEDIA QUERYS EVENTS FOR HEIGHT END*/